body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-header {
    background-color: #d32f2f;
    color: #fff;
}

.card-body {
    background-color: #d3d3d3;
}

#pokemon-image {
    text-align: center;
}

#poke-img {
    max-width: 200px;
    max-height: 200px;
}